<ion-header>
  <ion-navbar class="navbar" color="yellow">
    
    <ion-menu [content]="mycontent">     
      <ion-content>
        <ion-list>
            <p>侧边栏</p>
        </ion-list>      
      </ion-content>
  </ion-menu> 
    
  <ion-nav id="nav" #mycontent [root]="rootPage"></ion-nav>

    <ion-title class="title">
      <img class="title-img" src="../../assets/imgs/title.png" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager class="display-img" loop="true" autoplay="3000">

    <ion-slide>
      <img src="../../assets/imgs/hi.png" alt="">
    </ion-slide>
    
    <ion-slide>
      <img src="../../assets/imgs/hi.png" alt="">
    </ion-slide>
    
    <ion-slide>
      <img src="../../assets/imgs/hi.png" alt="">
    </ion-slide>
  </ion-slides>

  <ion-grid class="content-tab">
    <ion-row>
      <ion-col col-6 [class.content-tab-true]="contentTabIs==1" (click)="contentTabIs=1">找信息</ion-col>
      <ion-col col-6 [class.content-tab-true]="contentTabIs==2" (click)="contentTabIs=2">找服务</ion-col>
    </ion-row>
  </ion-grid>

<div *ngIf="contentTabIs===1">
  <ion-grid class="content-icon">
    <ion-row>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-xs.png" alt="">
        <p>资产包转让</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-xs.png" alt="">
        <p>债券转让</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-xs.png" alt="">
        <p>固产转让</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-xs.png" alt="">
        <p>商业保理</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-search.png" alt="">
        <p>典当担保</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-search.png" alt="">
        <p>融资借贷</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-search.png" alt="">
        <p>悬赏信息</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-search.png" alt="">
        <p>尽职调查</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="contentTabIs===2">
  <ion-grid class="content-icon">
    <ion-row>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-xs.png" alt="">
        <p>banner2</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-xs.png" alt="">
        <p>banner2</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-xs.png" alt="">
        <p>banner2</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-xs.png" alt="">
        <p>banner2</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-search.png" alt="">
        <p>banner2</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-search.png" alt="">
        <p>banner2</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-search.png" alt="">
        <p>banner2</p>
      </ion-col>
      <ion-col col-3>
        <img src="../../assets/imgs/ion-search.png" alt="">
        <p>banner2</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-list style=" position:relative;top:35px; ">
  <p>
      <img src="../assets/imgs/ionic-09.png" height="20px"/><span style="font-size:20px;">优质信息</span>
  </p>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../assets/imgs/icon-2.png">
      </ion-thumbnail>
      <p>地区：<span style="color:black;">北京</span></p>
      <p>来源：<span style="color:black;">银行</span></p>
      <p>资产包类型：<span style="color:black;">抵押</span></p>
      <p style="position:absolute;top:15px; left:220px;"><span style="font-size:25px;color:red;">500万</span><br/>总金额</p>
      <img src="../assets/imgs/ionic-11.png" item-end/>
    </ion-item>
 
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../assets/imgs/icon-2.png">
      </ion-thumbnail>
      <p>地区：<span style="color:black;">北京</span></p>
      <p>来源：<span style="color:black;">银行</span></p>
      <p>资产包类型：<span style="color:black;">抵押</span></p>
      <p style="position:absolute;top:15px; left:220px;"><span style="font-size:25px;color:red;">500万</span><br/>总金额</p>
      <img src="../assets/imgs/ionic-11.png" item-end/>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="../assets/imgs/icon-2.png">
      </ion-thumbnail>
      <p>地区：<span style="color:black;">北京</span></p>
      <p>来源：<span style="color:black;">银行</span></p>
      <p>资产包类型：<span style="color:black;">抵押</span></p>
      <p style="position:absolute;top:15px; left:220px;"><span style="font-size:25px;color:red;">500万</span><br/>总金额</p>
      <img src="../assets/imgs/ionic-11.png" item-end/>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="../assets/imgs/icon-2.png">
      </ion-thumbnail>
      <p>地区：<span style="color:black;">北京</span></p>
      <p>来源：<span style="color:black;">银行</span></p>
      <p>资产包类型：<span style="color:black;">抵押</span></p>
      <p style="position:absolute;top:15px; left:220px;"><span style="font-size:25px;color:red;">500万</span><br/>总金额</p>
      <img src="../assets/imgs/ionic-11.png" item-end/>
    </ion-item>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" immediate-check="false">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll> 
     
</ion-list> 

</ion-content>
